<div class="container d-block ">
    <div class="row mb-4">
        <div class="col-md text-center">
            <img src="assets/img/newspaper.jpg" class="img-fluid mt-2">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">This is the main body area</div>

    </div>
</div>